:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.layout-container {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
  
  @media (max-width: 768px) {
    margin-left: 0;
  }
  
  main {
    flex: 1;
    overflow-y: auto;
  }
}