:host {
  display: block;
}

.view-btn {
  background-color: #f3f4f6;
  color: #6b7280;

  &:hover {
    background-color: #e5e7eb;
  }

  &.active {
    background-color: #2196f3;
    color: #ffffff;
  }
}